<% if @request.confirmed.nil? %>
    <div class="status-bar pending">
        <h2 class="request-heading">Request Status:</h2>
        <h2 class="request-data">Awaiting artist's response</h2>
    </div>
<% elsif (@request.confirmed == true) && (@request.paid == false) %>
    <div class="status-bar confirmed">
        <h2 class="request-heading">Request Status:</h2>
        <h2 class="request_data">Confirmed by artist</h2>
        <h2 class="request_data"><%= "Awaiting payment of $#{@request.price}" %></h2>
        <%= render 'charge_form', request: @request %>
    </div>
<% elsif (@request.confirmed == true) && (@request.paid == true) %>
    <div class="status-bar paid">
        <h2 class="request-heading">Request Status:</h2>
        <h2 class="request-data">Paid</h2>
    </div>
<% else %>
    <div class="status-bar denied">
        <h2 class="request-heading">Request Status:</h2>
        <h2 class="request-data">Denied</h2>
    </div>

<% end %>
