<!--STYLES-->
<div class="color-stroke color-stroke-orange">
    <h1><%= link_to "Browse by Style", styles_index_path %></h1>
</div>
<div class="divider"></div>

<!--ARTISTS-->
<div class="color-stroke color-stroke-red">
    <h1><%= link_to "Browse by Artist", users_index_path %></h1>
</div>
<div class="divider"></div>
