<div class="color-stroke color-stroke-orange">
    <h1 class="page-heading page-heading-orange">All Styles</h1>
</div>
<div class="divider"></div>
<ul style="text-align: left;">
    <% @styles.each do |style| %>
        <li><%= link_to style.style_name, style %></li>    
    <% end %>
</ul>

<div class="divider"></div>
