<div class="color-stroke color-stroke-orange">
    <h1 class="page-heading page-heading-orange">All Styles</h1>
</div>
<div class="divider"></div>


<div class="search-box">
    <%= form_tag styles_index_path, method: 'get' do %>
       <%= text_field_tag :search, params[:search] %>
       <%= submit_tag "Search Styles", name: nil %>
    <% end %>
    <ul>
        <% @styles.each do |style| %>
            <li class="search-result"><%= link_to style.style_name, style %></li>    
        <% end %>
    </ul>
</div>

<div class="divider"></div>
